@model JobsBoardWebApp.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTelephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTelephone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
