@model JobsBoardWebApp.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.JobTitle)</h1>

<div>
    <h4>/Details</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <dt class = "col-sm-2">
            Location
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobLocation)
        </dd>
        <dt class = "col-sm-2">
            Company Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobCompanyName)
        </dd>
        <dt class = "col-sm-2">
            Salary
        </dt>
        <dd class = "col-sm-10">
            £@Html.DisplayFor(model => model.JobSalary)
        </dd>
        <dt class = "col-sm-2">
            Email Address
        </dt>
        <dd class = "col-sm-10">
            <a href="mailto:@Html.DisplayFor(model => model.JobEmailAddress)">@Html.DisplayFor(model => model.JobEmailAddress)</a>
        </dd>
        <dt class = "col-sm-2">
            Telephone
        </dt>
        <dd class = "col-sm-10">
            <a href="tel:@Html.DisplayFor(model => model.JobTelephone)">@Html.DisplayFor(model => model.JobTelephone)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
