@model IEnumerable<JobsBoardWebApp.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Jobs List</h1>

<p style="text-align: right;">
    <a asp-action="Create">Add new Job Offer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Job Title
            </th>
            <th>
                Location
            </th>
            <th>
                Company Name
            </th>
            <th>
                Salary
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCompanyName)
            </td>
            <td>
                £@Html.DisplayFor(modelItem => item.JobSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobType)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
